<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="assets/css/result.css">
</head>
<body>
    <br>
    {{#if sem1}}  
      <div class="card">
        {{#each sem1result}}
          <div class="container">
            <hr>
            <h4>Semester 1</h4>  
            <hr>
            <b>Roll No :</b>  {{sid}} <br/>
            <b>Engineering Mathematics I :</b> {{mathi}} <br/>
            <b>C Programming :</b>  {{cprog}} <br/>
            <b>Fundamentals of IT :</b> {{fit}} <br/>
            <b>Problem Solving Technique :</b>  {{pst}} <br/>
            <b>Physic :</b> {{physics}} <br/>
            <b>Communication Techniques	:</b>  {{ct}} <br/>
            <b>SGPA :</b> {{sgpa}} <br/>
          </div>
        {{/each}} 
      </div> 
    {{/if}}


    {{#if sem2}}  
      <div class="card">
        {{#each sem2result}}
          <div class="container">
            <hr>
            <h4>Semester 2</h4>  
            <hr>
            <b>Roll No :</b>  {{sid}} <br/>
            <b>Engineering Mathematics II	:</b> {{mathii}} <br/>
            <b>Logic Circuits :</b>  {{lc}} <br/>
            <b>Object Oriented Programming in C++ :</b> {{oop}} <br/>
            <b>Web Technology :</b>  {{wt}} <br/>
            <b>Engineering Drawing :</b> {{drawing}} <br/>
            <b>Mathematical Foundation of Computer Science :</b>  {{mfcs}} <br/>
            <b>SGPA :</b> {{sgpa}} <br/>
          </div>
        {{/each}} 
      </div> 
    {{/if}}

    {{#if mesg2}}
      <h3>Not Found</h3>
    {{/if}}  
</body>
</html>