<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>    
    </script>

</head>
<body>
<center>
      <br>
      {{#if sem1}}  
        <h3>Semester 1</h3>     
        <table class="table">
            <tr>
              <th scope="col">Roll No</th>
              <th scope="col">Math 1</th>
              <th scope="col">C Prog</th>
              <th scope="col">FIT</th>
              <th scope="col">PST</th>
              <th scope="col">Physic</th>

              <th scope="col">CT</th>
              <th scope="col">SGPA</th>
            </tr>
            {{#each sem1result}}
            <tbody>
              <tr>
                <th scope="row"> {{sid}}</th>
                <td>{{mathi}}</td>
                <td>{{cprog}}</td>
                <td>{{fit}}</td>
                <td>{{pst}}</td>
                <td>{{physics}}</td>
                <td>{{ct}}</td>
                <td>{{sgpa}}</td>
              </tr>
            </tbody> 
            {{/each}} 
          </table>    
      {{/if}}


      {{#if sem2}}  
        <h3>Semester 2</h3>     
        <table class="table">
            <tr>
               <th scope="col">Roll No</th>
                <th scope="col">Math 2</th>
                <th scope="col">LC</th>
                <th scope="col">OOP</th>
                <th scope="col">WT</th>
                <th scope="col">drawing</th>
                <th scope="col">MFCS</th>
                <th scope="col">SGPA</th>
            </tr>
            {{#each sem2result}}
            <tbody>
              <tr>
                <th scope="row">{{sid}}</th>
                <td>{{mathii}}</td>
                <td>{{lc}}</td>
                <td>{{oop}}</td>
                <td>{{wt}}</td>
                <td>{{drawing}}</td>
                <td>{{mfcs}}</td>
                <td>{{sgpa}}</td>
              </tr>
            </tbody> 
             {{/each}} 
          </table> 
      {{/if}}

      {{#if sem3}}  
        <h3>Semester 3</h3>     
        <table class="table">
            <tr>
                <th scope="col">Roll No</th>
                <th scope="col">Math 3</th>
                <th scope="col">DSA</th>
                <th scope="col">SEF</th>
                <th scope="col">PQT</th>
                <th scope="col">JAVA</th>
                <th scope="col">MALP</th>
                <th scope="col">SGPA</th>
            </tr>
            {{#each sem3result}}
            <tbody>
              <tr>
                  <th scope="row">{{sid}}</th>
                  <td>{{mathiii}}</td>
                  <td>{{sef}}</td>
                  <td>{{dsa}}</td>
                  <td>{{pqt}}</td>
                  <td>{{java}}</td>
                  <td>{{malp}}</td>
                  <td>{{sgpa}}</td>
              </tr>
            </tbody> 
             {{/each}} 
          </table> 
      {{/if}}

      {{#if mesg2}}
        <h3>Not Found</h3>
      {{/if}}

</center>
      
</body>
</html>