<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2><%= title %></h2>
  <a href="/add" class="btn btn-sm btn-primary">Add User</a><br/><br/>

  <form action="/search" method="post">
    <input type="number">  <button type="submit" class="btn btn-secondary">Search User</button> <br></br>
  </form>
  
  



  <table class="table table-dark table-striped">
    <thead>
      <tr style="background-color: rgb(107, 173, 249);color: rgb(54, 51, 51);">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% user_infos.forEach(function(user){ %>
            <tr>
                <td><%= user.sid %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.permission_type %></td>

                <td>
                    <a href="/edit/<%= user.sid %>" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/delete/<%= user.sid %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
  </table>
</div>

</body>
</html>