<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Change Password</title>
        <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />


    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="../assets/js/config.js"></script>
    <style>
      #password-strength-bar-container {
        width: 200px;
        height: 10px;
        background-color: #000000;
        border-radius: 10px;
        position: relative;
      }

      #password-strength-bar {
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        transition: width 0.4s;
      }

      #password-strength-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);

        font-size: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

    </style>
</head>
<body>
  <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->



         {{#compareString permission "Administrator"}}  
              <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                  <a href="/" class="app-brand-link">
                    <span class="app-brand-text demo menu-text fw-bolder ms-2">Student-MIS</span>
                  </a>

                  <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                    <i class="bx bx-chevron-left bx-sm align-middle"></i>
                  </a>
                </div>

                <div class="menu-inner-shadow"></div>
                <div class="dropdown-divider"></div>
                <ul class="menu-inner py-1">
                  <!-- Dashboard -->
                  <li class="menu-item">
                    <a href="/" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-home-circle"></i>
                      <div data-i18n="Analytics">Dashboard</div>
                    </a>
                  </li>
                  <li class="menu-item active">
                    <a href="/profile-setting" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-dock-top"></i>
                      <div data-i18n="Account Settings">Account Settings</div>
                    </a>
                  
                  </li>

                  <li class="menu-item">
                    <a href="/viewsusers" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-detail"></i>
                      <div data-i18n="Form Layouts">Manage Users</div>
                    </a>
                  </li>
                  
                  <!-- Cards -->
                  <li class="menu-item">
                    <a href="/notice" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-collection"></i>
                      <div data-i18n="Basic">Notice</div>
                    </a>
                  </li>
                    <!-- Tables -->
                    <li class="menu-item">
                      <a href="/uploadfiles" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-table"></i>
                        <div data-i18n="Tables">Upload Result</div>
                      </a>
                    </li>
                  
                  <!-- Forms & Tables -->
                  
                </ul>
              </aside>
            {{else}}
                  <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                    <div class="app-brand demo">
                      <a href="/" class="app-brand-link">
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">Student-MIS</span>
                      </a>

                      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                      </a>
                    </div>

                    <div class="menu-inner-shadow"></div>
                    <div class="dropdown-divider"></div>
                    <ul class="menu-inner py-1">
                      <!-- Dashboard -->
                      <li class="menu-item ">
                        <a href="/" class="menu-link">
                          <i class="menu-icon tf-icons bx bx-home-circle"></i>
                          <div data-i18n="Analytics">Dashboard</div>
                        </a>
                      </li>
                      <li class="menu-item active">
                        <a href="/profile-setting" class="menu-link">
                          <i class="menu-icon tf-icons bx bx-dock-top"></i>
                          <div data-i18n="Account Settings">Account Settings</div>
                        </a>
                      
                      </li>
                      
                      <!-- Cards -->
                      <li class="menu-item">
                        <a href="/notice" class="menu-link">
                          <i class="menu-icon tf-icons bx bx-collection"></i>
                          <div data-i18n="Basic">Notice</div>
                        </a>
                      </li>
                        <!-- Tables -->
                                    <li class="menu-item">
                                      <a href="/result" class="menu-link">
                                        <i class="menu-icon tf-icons bx bx-table"></i>
                                        <div data-i18n="Tables">Result</div>
                                      </a>
                                    </li>

                      <li class="menu-item">
              <a href="/syllabus" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-book"></i>
                  <div data-i18n="Tables">Curriculum</div>
              </a>
              </li>
                                  
                      <!-- Forms & Tables -->
                      <li class="menu-item">
                        <a href="/form" class="menu-link">
                          <i class="menu-icon tf-icons bx bx-detail"></i>
                          <div data-i18n="Form Layouts">Exam Form</div>
                        </a>
                      </li>
                    </ul>
                  </aside>

            {{/compareString}}
        <!-- / Menu -->
       
      
              <!-- Layout container -->
              <div class="layout-page">
                <!-- Navbar -->
      
                <nav
                  class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                  id="layout-navbar"
                >
                  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                      <i class="bx bx-menu bx-sm"></i>
                    </a>
                  </div>
      
                  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
      
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                      <!-- Place this tag where you want the button to render. -->
                      
      
                      <!-- User -->
                               <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img src="../../uploads/profile/{{photo}}" onerror = "../assets/img/user.png"  class="w-px-32 h-auto rounded-circle"alt="User-Image" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="/">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                                  <img src="../../uploads/profile/{{photo}}" onerror = "../assets/img/user.png"  class="w-px-32 h-auto rounded-circle"alt="User-Image" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">{{username}}</span>
                            <small class="text-muted">{{permission}}</small>
                          </div>
                        </div>
                      </a>
                    </li>    
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>              
                    <li>
                      <a class="dropdown-item" href="/logout">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                      <!--/ User -->
                    </ul>
                  </div>
                </nav>
      
                <!-- / Navbar -->
    

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
              <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Change Password</h4>
                <!-- Basic with Icons -->
                <div class="col-xxl">
                  <div class="card mb-4">
        
                    <div class="card-body">
                          <form action="/pass_change" method="POST" onsubmit="return validateForm()" autocomplete="off">
                           
                            
                              <div class="row mb-3">
                                  <label class="col-sm-2 col-form-label">New Password</label>
                                  <div class="col-sm-10">
                                      <div class="input-group input-group-merge">
                                          <input type="password" class="form-control" name="password" id="password" onkeyup="validatePassword(event)" required/>
                                         
                                      </div>

                                      {{!-- ----------------------- --}}
                                        <div class="col-sm-10 ">
                                            <div id="password-strength-bar-container">
                                                <div id="password-strength-bar"></div>
                                                <span id="password-strength-label"></span>
                                            </div>
                                            <span id="password-text-strong"></span>
                                        </div>

                                         {{!-- ----------------------- --}}
                                  </div>
                                  
                                  
                              </div>
                             

                              <div class="row mb-3">
                                  <label class="col-sm-2 col-form-label">Confirm Password</label>
                                  <div class="col-sm-10">
                                      <div class="input-group input-group-merge">
                                          <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" required/>
                                      </div>
                                  </div>
                              </div>

                            

                                 {{!-- <script src="script.js"></script> --}}

                              <!-- Error message display -->
                              <div class="row mb-3">
                                  <div class="col-sm-10">
                                      <p id="errorText" style="color: red; display: none;">Passwords do not match!</p>
                                  </div>
                              </div>
                              {{#if changed}}
                                  <div class="row justify-content-end">
                                    <div class="col-sm-10">
                                        <span style="color: rgb(47, 78, 0);">Password Has been changed</span>
                                    </div>
                                </div>
                              {{else}}
                                <div class="row justify-content-end">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </div>
                              {{/if}}

                          </form>

                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <!-- / Content -->
             <!-- Footer -->
             <footer class="content-footer footer bg-footer-theme">
                <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                  <div class="mb-2 mb-md-0">
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                     , Student-MIS
                  </div>
                </div>
              </footer>
              <!-- / Footer -->
  
              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
        </div>
  
        <!-- Overlay -->

        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
      <!-- / Layout wrapper -->
  
      <!-- Core JS -->
      <!-- build:js assets/vendor/js/core.js -->
      <script src="../assets/vendor/libs/jquery/jquery.js"></script>
      <script src="../assets/vendor/libs/popper/popper.js"></script>
      <script src="../assets/vendor/js/bootstrap.js"></script>
      <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  
      <script src="../assets/vendor/js/menu.js"></script>
      <!-- endbuild -->
  
      <!-- Vendors JS -->
  
      <!-- Main JS -->
      <script src="../assets/js/main.js"></script>
  
      <!-- Page JS -->
      <script src="../assets/js/pages-account-settings-account.js"></script>
       <script src="../assets/js/passvalidate.js"></script>
  
      <!-- Place this tag in your head or just before your close body tag. -->
      <script async defer src="https://buttons.github.io/buttons.js"></script>

      
             
</body>
</html>